/* CORPO DA PÁGINA */


body {
    background-color: #E9CCEF;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Seção de Boas-vindas */
.welcome-section {
    width: 84%;
    align-items: center;
    margin-top: 35px;
}

.welcome-container {
    background: #f6edf6;
    border-radius: 20px;
    padding: 60px 40px;
    box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.378); /* sombra - esquerda/direita, cima/baixo, desfoque, cor */
    display: flex;
    align-items: center;
    gap: 60px;
}

.welcome-title {
    font-size: 35px;
    color: #1a3a6c;
    margin-bottom: 20px;
   
}

.welcome-description {
    font-size: 20px;
    color: #6B7280;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: 600;
}

.welcome-button {
    display: inline-block;
    background: #2eb086;
    color: white;
    padding: 14px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
}

.welcome-button:hover {
    background: #1e7c5f;

}

.welcome-icon img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    width: 200px;
}

/* Seção de Estatísticas */
.stats-section {
    width: 84%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.stats-container {
    background: #f6edf6;
    border-radius: 20px;
    padding: 60px 40px;
    box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.378);
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.stat-card {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.stat-icon {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.stat-icon i {
    font-size: 110px;
    color: #582d86;
    
}

.stat-title {
    font-size: 30px;
    color: #1a3a6c;
    font-weight: 600;
    margin: 0;
}

.stat-value {
    font-size: 25px;
    color: #6B7280;
    line-height: 1.6;
    margin: 0;
}

.stat-value span {
    color: #1a3a6c;
    font-size: 25px;
}






